<!-- Страница с формой для добавления ссылки на сайт -->

{% extends "base_generic.html" %}

{% block content %}
    <article>
        <form action="" method="post">
            {% csrf_token %}

            <!-- Форма url в виде таблицы -->
            <table>
                <tr>
                    <td>
                        <b>URL:&nbsp;</b>
                    </td>
                    <td>
                        {{ form.url_name }} &nbsp;
                    </td>
                    <td>
                        {{ form.url_name.help_text | safe}}
                    </td>
                </tr>
            </table>

            <br><br>
            <!-- Кнопка подтверждения удаления -->
            <input type="submit" value="Add" />
        </form>
    </article>
{% endblock %}