<!-- Страница с формой для добавления и редактирования XPath -->

{% extends "base_generic.html" %}

{% block content %}
    <article>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><b>Section name:</b></td>
                    <td>{{ form.section_name }}</td>
                    <td>{{ form.section_name.help_text | safe}}</td>
                </tr>
                <tr>
                    <td><b>XPath formula:</b></td>
                    <td>{{ form.xpath_url }}</td>
                    <td>{{ form.xpath_url.help_text | safe}}</td>
                    <td><input type="submit" name="generate" value="Generate XPath" /></td>
                </tr>
                <tr>
                    <td><b>Method:</b></td>
                    <td>{{ form.xpath_method }}</td>
                    <td>{{ form.xpath_method.help_text | safe}}</td>
                </tr>
            </table>
            <br><br>
            <input type="submit" value="Submit" />
        </form>
    </article>
{% endblock %}