/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  background-color: #A2D9CE;
}

body {
  width: 98%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  color: #2a2a2a;
}

p, input, li {
  color: #2a2a2a;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, aside, footer {
  background-color: #F4F6F6;
  padding: 1%;
}

nav {
  height: 70px;
  background-color: #117A65;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 3;
  display: flex;
}

nav li {
  padding: 0;
  display: inline;
  text-align: center;
  flex: 1;
  color: #D1F2EB;
}

nav a {
  display: inline;
  text-decoration: none;
  background: #45B39D;
  color: #D6EAF8;
  padding: 4%;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

select {
  font-size: 1rem;
  height: 50px;
  width: 700px;
}

input {
  font-size: 1rem;
  height: 50px;
  width: 700px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #117A65;
  border: 0;
  color: #D6EAF8;
  width: 250px;
}

textarea{
  font-size: 1rem;
  height: 100px;
  width: 700px;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 3;
  margin-left: 10px;
  background-color: #EBF5FB;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}

a {
  display: inline;
  text-decoration: none;
  color: #117A65;
}


/* || tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #D0ECE7;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}